<div class="book-details" *ngIf="detailedBook; else noDetails">
  <div class="back-button">
    <a [routerLink]="['..']">◀ Back</a>
  </div>
  <!--  <div class="book-details__header">-->
  <!--    <span>Title: {{ detailedBook.title }}</span>-->
  <!--    <span>Author: {{ detailedBook.author }}</span>-->
  <!--    <span>Genre: {{ detailedBook.genre }}</span>-->
  <!--  </div>-->
  <!--  <div class="book-details__body">-->
  <!--    <span>Description:</span>-->
  <!--    <div>{{ detailedBook.description }}</div>-->
  <!--  </div>-->
  <form class="book-details__forms" [formGroup]="detailsForm">
    <gui-input class="book-details__forms__title"
               [label]="detailsStrings.title"
               [placeholder]="detailsStrings.title"
               type="text"
               formControlName="title"
    ></gui-input>
    <gui-input class="book-details__forms__author"
               [label]="detailsStrings.author"
               [placeholder]="detailsStrings.author"
               type="text"
               formControlName="author"
    ></gui-input>
    <gui-select>
      <!--      TODO: CONTINUE WITH GUI SELECT AND ETC-->
    </gui-select>
  </form>
  <div class="control-buttons">
    <button
      gui-button
      class="control-buttons__save"
      [buttonType]='buttonSaveType'
      (click)="onSave()"
    >
      Save
    </button>
    <button
      gui-button
      class="control-buttons__delete"
      [buttonType]="buttonDeleteType"
      (click)="onDelete()"
    >
      Delete
    </button>
  </div>
</div>


<ng-template #noDetails>
  <span>No details for this Book!</span>
</ng-template>
