.book-list {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  background-color: lightgreen;

  ::ng-deep.gui-table-container {
    background-color: lightgreen;

    td {
      background-color: lightgreen;
      border-color: black;
    }
  }

  &__header {
    font-family: bebas, sans-serif;
    font-size: 36px;
  }

  &__item {
    font-family: roboto-slab, sans-serif;
    font-size: 20px;
    font-weight: normal;
    height: 40px;
  }
}
