<div class="paginator-wrapper">
  <gui-paginator class="paginator"
                 [length]="paginatorParams.totalLength"
                 [pageSize]="paginatorParams.pageSize"
                 [pageSizeOptions]="paginatorParams.pageSizeOptions"
                 [pageIndex]="paginatorParams.pageIndex"
                 (page)="onPageChange($event)"
  >
  </gui-paginator>
</div>
<gui-table class="book-list" content>
  <tr class="book-list__header" head>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
  </tr>
  <ng-container *ngFor="let book of books" body>
    <tr class="book-list__item" (click)="openBook(book.id)">
      <td class="book-list__item__title">{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
    </tr>
  </ng-container>
</gui-table>

