$background-color: #ede5c8;
$highlight-color: #c6bca5;
$width: 80%;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  //margin: 0 auto;
  padding-top: 20px;
  width: $width;
  border-radius: 0;

  ::ng-deep.gui-table-container {
    background-color: $background-color;
    border: 0;
    border-radius: 0;

    th {
      background-color: $background-color;
      border: 0;
      border-bottom: 1px solid black;
    }

    tr {
      background-color: $background-color;

      td {
        border-bottom: 1px solid black;
        background-color: transparent;
      }

      &:hover {
        background-color: $highlight-color;
      }
    }

  }

  &__header {
    font-family: bebas, sans-serif;
    font-size: 36px;
    color: black;
  }

  &__item {
    font-family: roboto-slab, sans-serif;
    font-size: 20px;
    font-weight: normal;
    min-height: 40px;

    &__title {

    }

    &__author {
      width: 25%;
    }

    &__genre {
      width: 20%;
    }
  }
}

.paginator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: $width;
  padding-top: 20px;
  //margin: 0 auto;

  .paginator {
    ::ng-deep.gui-paginator__wrapper {
      gap: 10px;
    }

    width: 30%;
  }
}
